@charset "utf-8";

body {
    /* -----------------
            font
    -------------------*/
    font-family: "Raleway", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 10px;
    /* -----------------
        background
    -------------------*/
    background: linear-gradient(135deg, #474747 0%, #818284 25%, #838387 50%, #79797a 75%, #3c3c3c 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


header {
    margin: 10px 20px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

#page-title {
    font-size: 1.5rem;
    color: white;
    /* 1. 背景にグラデーションを指定
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    2. 背景を「文字の形」でクリップする（ここがキモ！）
    -webkit-background-clip: text;
    background-clip: text;

    3. 本来の文字色を「透明」にする
    color: transparent; */
}


/* 2. メインコンテナ（すりガラス） */
#container {
    /* -----------------
            layout
    -------------------*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0 20px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    /* width: 80%;
    max-width: calc(100% - 40px); */
    height: 60%;
    max-height: 600px;
    text-align: center;
    color: white;
}

/* 3. ドロップエリア */
#drop-zone {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 15px;
    padding: 40px 20px;
    height: 25%;
    width: calc(100% - 40px);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#drop-zone:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: white;
}

#btn-area {
    margin-top: 20px;
    padding: 40px 20px;
    width: calc(100% - 40px);
    height: 60px;
}

#btn {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: rgba(57, 134, 129, 0.8);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    font-size: large;
}

#btn:hover {
    background: rgba(57, 134, 129, 1);
    transform: scale(1.007);
    /* border-color: white; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    color: white;
    text-align: center;
}